.u-section-1 .u-sheet-1 {
  min-height: 1446px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 427px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 198px;
  height: 262px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 34px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 272px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 53px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 427px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 198px;
  height: 313px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 28px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 198px;
  height: 258px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 34px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 196px;
  height: 258px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 34px auto 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 196px;
  height: 267px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 26px auto 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 415px;
}

.u-section-1 .u-container-layout-7 {
  padding: 16px 30px;
}

.u-section-1 .u-image-7 {
  width: 196px;
  height: 309px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 34px auto 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 415px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  width: 196px;
  height: 281px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 44px auto 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 415px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  width: 196px;
  height: 307px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1315px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-1 .u-image-1 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-1 .u-image-2 {
    width: 175px;
    height: 238px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-1 .u-image-3 {
    width: 175px;
    height: 276px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 338px;
  }

  .u-section-1 .u-image-4 {
    width: 175px;
    height: 228px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 338px;
  }

  .u-section-1 .u-image-5 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 338px;
  }

  .u-section-1 .u-image-6 {
    width: 175px;
    height: 238px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 342px;
  }

  .u-section-1 .u-image-7 {
    width: 175px;
    height: 276px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 342px;
  }

  .u-section-1 .u-image-8 {
    width: 175px;
    height: 251px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 342px;
  }

  .u-section-1 .u-image-9 {
    width: 175px;
    height: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1349px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3271px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3439px;
  }
}